html, body {
  margin: 0;
	padding: 0;
	border: 0;
  font: inherit;
  min-width: 300px;
  background-color: #f2f0ea;
  font-family: 'Roboto', sans-serif;
  color: #453d37;
}

#app-bar {
  height: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

#logo {
  margin:0px 0px 0px 10px;
  padding:0px;
  font-size: 1.3rem;
  font-family: 'Lobster', cursive;
  color: #453d37;
}

#nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

#nav ul li {
  list-style-type: none;
}

#nav ul li button {
  margin:0px 10px 0px 0px;
  padding:0px;
  border-width: 0px;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  color: #58524e;
}

#nav ul li button:hover {
  color: #453d37;
  cursor: pointer;
}

.card--container {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr;
  row-gap: .3rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.card--header {
  width: 80%;
  text-align: center;
}

.card--body {
  width: 80%;
  font-size: .7rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.card--body div.card--elem label {
  display: block;
}

.card--body div.card--elem input,
.card--body div.card--elem textarea {
  width: auto;
  border-radius: .3rem;
  border-width: 0px;
  border-color: #58524e;
  padding:.7rem;
  margin-bottom: 1rem;
  background-color:white;
}

.card--body div.card--elem input:focus,
.card--body div.card--elem textarea:focus {
  outline: none;
}

.card--body--footer {
  display: flex;
  justify-content: center;
}

.card--body--footer input, 
.card--body--footer button {
  height: 2rem;
  width: 4rem;
  margin: .3rem;
  border-width: 0px;
  border-radius: 1rem;
  background-color: #58524e;
  font-family: inherit;
  font-size: .7rem;
  color: #ffffff;
}

.card--body--footer input:hover, 
.card--body--footer button:hover {
  background-color: #453d37;
  cursor: pointer;
}

.content--container {
  min-width: 300px;
}