/* Global */

html, body {
  margin: 0;
	padding: 0;
	border: 0;
  font: inherit;
  min-width: 300px;
  background-color: #f2f0ea;
  font-family: 'Roboto', sans-serif;
  color: #453d37;
}

/* NavBar */

#nav-bar {
  height: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

#logo {
  margin:0px 0px 0px 10px;
  padding:0px;
  font-size: 1.3rem;
  font-family: 'Lobster', cursive;
  color: #453d37;
}

#nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

#nav ul li {
  list-style-type: none;
}

#nav ul li button {
  margin:0px 10px 0px 0px;
  padding:0px;
  border-width: 0px;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  color: #58524e;
}

#nav ul li button:hover {
  color: #453d37;
  cursor: pointer;
}

/* Auth */

.card--auth--container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.card--auth--body {
  min-width: 240px;
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.card--auth--body--elem label {
  min-width: 240px;
  font-size: .7rem;
  display: block;
}

.card--auth--body--elem input,
.card--auth--body--elem textarea {
  min-width: 240px;
  border-radius: .3rem;
  border-width: 0px;
  border-color: #58524e;
  padding:.7rem;
  background-color:white;
}

@media (min-width: 600px) {
  .card--auth--body--elem textarea {
    min-width: 480px;
  }
}

@media (min-width: 900px) {
  .card--auth--body--elem textarea {
    min-width: 720px;
  }
}

.card--auth--body--elem input:focus,
.card--auth--body--elem textarea:focus {
  outline: none;
}

.card--auth--body--footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.card--auth--body--footer input, 
.card--auth--body--footer button {
  height: 2rem;
  width: 4rem;
  margin: .3rem;
  border-width: 0px;
  border-radius: 1rem;
  background-color: #58524e;
  font-family: inherit;
  font-size: .7rem;
  color: #ffffff;
}

.card--auth--body--footer input:hover, 
.card--auth--body--footer button:hover {
  background-color: #453d37;
  cursor: pointer;
}

/* Rolling */

.card--rolling--container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* Content */

.card--content--container {
  min-width: 240px;
}

@media (min-width: 600px) {
  .card--content--container {
    min-width: 480px;
  }
}

@media (min-width: 900px) {
  .card--content--container {
    min-width: 720px;
  }
}